<!DOCTYPE html>
<html lang="en">

<head>
    <title>Global Medifile </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
        </script> -->
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="/static/login/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        
    <script>
        function checkPassword(form) {
        debugger;
        pass1 = form.password.value;
        pass2 = form.cnf_password.value;

        if(pass1 == pass2){
            
            alert("UPDATED");
        }
        
        }
    </script>

    <script>
        function msg()
        {
        debugger;
        var a = document.getElementById("password").value;
        var b = document.getElementById("cnf_password").value;
        if(a!=b)
        {
            document.getElementById("l2").innerHTML = "";

            document.getElementById("l1").innerHTML = "Password doesn't Match.";
            // alert("error");
        }
        else
        {
            document.getElementById("l1").innerHTML = "";

            document.getElementById("l2").innerHTML = "Password Matches.";
            // alert("error");
        }
        }
    </script>

    <!-- <script>
        function check(){
            var pass1 = document.getElementById('phone');
            var message = document.getElementById('message');
            var goodColor = "#0C6";
            var badColor = "#FF9B37";
            if(mobile.value.length!=10){

            mobile.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "required 10 digits, match requested format!"
        }}
    </script> -->

</head>

<body>
    <div class="mid-class">
        <div class="art-right-w3ls">
            <h2>FORGOT PASSWORD</h2>
            <form method="post" onsubmit="return checkPassword(this);">
                {% csrf_token %}
                <div class="main">
                    <div class="form-left-to-w3l">
                        <input type="text" name="name" placeholder="name" required="">
                    </div>
                    <div class="form-left-to-w3l">
                        <input type="text" name="g_id" placeholder="globalid" required="">
                    </div>
                    <div class="form-left-to-w3l ">
                        <input type="password" name="password" id="password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one NUMBER* and one UPPERCASE* and LOWERCASE letter*, and at least 8 or more characters"
                            placeholder="Password" maxlength="20" required="" size="25">
                        <div class="clear"></div>
                    </div>
                    <label style="color: red;" id="l1"></label>
                    <label style="color: rgb(8, 131, 8);" id="l2"></label>
                    <div class="form-left-to-w3l ">
                        <input type="password" name="cnf_password" id="cnf_password" placeholder="Confirm Password"
                            maxlength="20" required="" size="25" oninput="msg()">
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- <label for="hexId">Hex ID: </label>
<input id="hexId" type="password" pattern="[0-9a-fA-F]{4,8}"
    title="Enter an ID consisting of 4-8 hexadecimal digits"
    autocomplete="new-password"> -->

                <!-- <label id="l1" hidden></label> -->
                <!-- <div class="left-side-forget">
                    <input type="checkbox" class="checked">
                    <span class="remenber-me">Remember me </span>
                </div>

                <div class="right-side-forget">
                    <input type="reset" value="Clear">
                </div> -->

                <div class="btn">
                    <button type="submit">Register</button>
                </div>

            </form>
            <!-- <div class="w3layouts_more-buttn">
                <h3>Already have an account...?
                    <a href="/user_loginview"><b>LOGIN</b></a>
                </h3>
            </div>
            <br>
            <br> -->

        <!-- </div>
        <div class="art-left-w3ls">
            <h1 class="header-w3ls">
                Register <br>Or<br> Login
            </h1>
            <a href="/user_homeview" class="white">Home</a>
        </div>
    </div>
</body>
<script src="/static/user/js/validate.js"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script> -->

</html>