
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="Jthemes"/>	
	<meta name="description" content="MedService - Medical & Medical Health Landing Page Template"/>
	<meta name="keywords" content="Responsive, HTML5 Template, Jthemes, One Page, Landing, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			
	<!-- SITE TITLE -->
	<title>Global Medifile</title>
						
	<!-- FAVICON AND TOUCH ICONS  -->
	<link rel="shortcut icon" href="/static/user/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/user/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/user/images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/user/images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/user/images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" href="/static/user/images/apple-touch-icon.png">

	<!-- GOOGLE FONTS -->
	<link href="/static/user/css/roboto.css" rel="stylesheet"> 	
	<link href="/static/user/css/lato.css" rel="stylesheet"> 

	<!-- BOOTSTRAP CSS -->
	<link href="/static/user/css/bootstrap.min.css" rel="stylesheet">
			
	<!-- FONT ICONS -->
	<link href="../../../../use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">		
	<link href="/static/user/css/flaticon.css" rel="stylesheet">

	<!-- PLUGINS STYLESHEET -->
	<link href="/static/user/css/menu.css" rel="stylesheet">	
	<link id="effect" href="/static/user/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
	<link href="/static/user/css/magnific-popup.css" rel="stylesheet">	
	<link href="/static/user/css/owl.carousel.min.css" rel="stylesheet">
	<link href="/static/user/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="/static/user/css/animate.css" rel="stylesheet">
	<link href="/static/user/css/jquery.datetimepicker.min.css" rel="stylesheet">
			
	<!-- TEMPLATE CSS -->
	<link href="/static/user/css/style.css" rel="stylesheet">
	
	<!-- RESPONSIVE CSS -->
	<link href="/static/user/css/responsive.css" rel="stylesheet"> 

	<style>
		label {
			text-align: left;
		}
	</style>
   

</head>

<body onload="disable();">

	<!-- PRELOADER SPINNER
	============================================= -->	
	<div id="loader-wrapper">
		<div id="loader"><div class="loader-inner"></div></div>
	</div>

	<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header">


				<!-- MOBILE HEADER -->
			    <div class="wsmobileheader clearfix">
			    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
			    	<span class="smllogo"><img src="/static/user/images/logo-grey.png" width="180" height="40" alt="mobile-logo"/></span>
			    	<a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
			 	</div>


			 	<!-- HEADER STRIP -->
			 	<div class="headtoppart bg-blue clearfix">
			    	<div class="headerwp clearfix">

			    		<!-- Address -->
			     		<div class="headertopleft">			     			
			        		<div class="address clearfix"><span><i class="fas fa-mail"></i><img src="/static/user/images/gmail.png"> globalmedifile@gov.in</span><span> | </span><span><img src="/static/user/images/phone-call.png">+918089435263</span> 
			            	</div>
			     		</div>

			     		<!-- Social Links -->
					    <div class="headertopright  white-color">
					    	
							<!-- <a href="#" style="width: 150px; " class="btn btn-sm btn-tra-white" ><b>{{uname}}</b></a> -->
							
				      	</div>

				    </div>
			  	</div>	<!-- END HEADER STRIP -->


			  	<!-- NAVIGATION MENU -->
			  	<div class="wsmainfull menu clearfix">
    				<div class="wsmainwp clearfix" style="max-width: 1300px;">

    					<!-- LOGO IMAGE -->
    					<div class="desktoplogo"><a href="#hero-1"><img src="/static/user/images/logo-grey.png"  width="180" height="40" alt="header-logo"></a></div>

    					<!-- MAIN MENU -->
      					<nav class="wsmenu clearfix">
        					<ul class="wsmenu-list">

                                <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a href="/hos_homeview">Home</a></li>

        						
					          	<!-- PAGES -->
					          	<!-- <li aria-haspopup="true"><a href="#">Departments <span class="wsarrow"></span></a> -->
            						<!-- <div class="wsmegamenu clearfix">
             							<div class="container">
               								<div class="row"> -->

               									<!-- MEGAMENU LINKS -->
               									<!-- <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
													<a href="/hos_dptview"><li class="title">All Departments</li></a>
								                    <li class="title">Our Specialists:</li>
								                    <li><a href="/hos_cardiologyview">Cardiology</a></li>
								                    <li><a href="who-we-are.html">Orthopaedics & Joint Replacement</a></li>
								                    <li><a href="all-services.html">Cancer Care & Oncology</li>
								                    <li><a href="service-1.html">Urology</a></li>
								                    <li><a href="service-2.html">Neurosciences</a></li>				                             
								                </ul> -->

								                <!-- MEGAMENU LINKS -->
               									<!-- <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
								                    <li class="title"></li>
								                    <li><a href="all-departments.html">Kidney Transplant</a></li>								                    
								                    <li><a href="department-single.html">Audiology & Speech Therapy</a></li>
								                    <li><a href="all-doctors.html">Radiology</a></li>
								                    <li><a href="doctor-1.html">Pulmonology</a></li>
								                    <li><a href="doctor-2.html">Pain Management</a></li>
								                    <li><a href="timetable.html">Paediatric</a></li>									                    
								                </ul> -->

								                <!-- MEGAMENU LINKS -->
               									<!-- <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
								                    <li class="title"></li>
								                    <li><a href="pricing-1.html">Nephrology</a></li>
								                    <li><a href="pricing-2.html">Internal Medicine</a></li>								                    
								                    <li><a href="appointment.html">Eye Care</a></li>
								                    <li><a href="faqs.html">Ear Nose Throat</a></li>
								                    <li><a href="terms.html">Dermatology</a></li> 
								                </ul> -->

								                <!-- MEGAMENU LINKS -->
               									<!-- <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
								                    <li class="title">Others:</li>
								                    <li><a href="gallery.html">Front Office</a></li>
								                    <li><a href="blog-listing.html">Billing</a></li>
								                    <li><a href="single-post.html">Lab</a></li>								                   
								                    <li><a href="contacts-1.html">Contact Us #1</a></li>
								                    <li><a href="contacts-2.html">House Keeping</a></li> 						
								                </ul> -->
								                
							               <!-- </div>   End row -->	
							            <!--</div>   End container -->	
							        <!--</div>   End wsmegamenu -->	
								<!-- </li>	 -->
								<!-- END PAGES -->


					          	<!-- HALF MENU -->
					          	<li aria-haspopup="true"><a href="#">Approval<span class="wsarrow"></span></a>
					            	<div class="wsmegamenu clearfix singlemenu">
					              		<div class="container">
					                		<div class="row">

					                			<!-- Links -->
							                	<ul class="col-lg-12 col-md-12 col-xs-12 link-list">
							                    	<!-- <li class="title"></li> -->
								                    <li><a href="/hos_addpatview">Add Patient</a></li>							                    
								                    <li><a href="/hos_adddocview">Add Doctor</a></li>
								                    <li><a href="/hos_addstaffview">Add Staff</a></li>
								                    <li><a href="/hos_adddptview">Add Department</a></li>
								                    <li><a href="#"></a></li>								                    
							                  	</ul>

							                  	

					                		</div>
					              		</div>
					            	</div>
					          	</li>	<!-- END HALF MENU -->


                                <!-- HALF MENU -->
					          	<li aria-haspopup="true"><a href="/hos_leaveview">Leave Requests</a>
					          	</li>	<!-- END HALF MENU -->

					          	
							    <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a href="/hos_suggestview">Suggestions</a></li>
                                
                                 <!-- SIMPLE NAVIGATION LINK -->
                                 <!-- <li class="nl-simple" aria-haspopup="true"><a href="/hos_contactview">Contact Us</a></li> -->

							    <!-- NAVIGATION MENU BUTTON -->
								<li class="nl-simple header-btn"><a href="/hos_editview" style="background-color:cyan"><img src="/static/user/images/profile1.png" style="width:35px; height:35px;"> {{uname}}</a></li>
								<li class="nl-simple" aria-haspopup="true"><a href="/logoutview"><img src="/static/user/images/logout1.png"></a></li>


        					</ul>
        				</nav>	<!-- END MAIN MENU -->

    				</div>
    			</div>	<!-- END NAVIGATION MENU -->


			</header>	<!-- END HEADER -->

            <!-- External Blocks
            ====================-->

            {% block home %}
            {% endblock %}

            {% block department %}
			{% endblock %}
			
			{% block cardiology %}
			{% endblock %}

			{% block suggest %}
			{% endblock %}

			{% block adddept %}
			{% endblock %}

			{% block addstaff %}
			{% endblock %}

			{% block adddoc %}
			{% endblock %}

			{% block addpat %}
			{% endblock %}

			{% block hos_contact %}
			{% endblock %}

			{% block leave %}
			{% endblock %}

			{% block hos_edit %}
			{% endblock %}
			<!-- External Blocks Ends Here
            ====================-->
			
			<!-- FOOTER-1
			============================================= -->
			<!-- <footer id="footer-1" class="wide-40 footer division">
				<div class="container"> -->


					<!-- FOOTER CONTENT -->
					<!-- <div class="row">	 -->


						<!-- FOOTER INFO -->
						<!-- <div class="col-md-6 col-lg-3">
							<div class="footer-info mb-40"> -->

								<!-- Footer Logo -->
								<!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80  pixels) -->
								<!-- <img src="/static/user/images/footer-logo.png" width="180" height="40" alt="footer-logo"> -->

								<!-- Text -->	
								<!-- <p class="p-sm mt-20">Aliquam orci nullam tempor sapien gravida donec an enim ipsum porta
								   justo at velna auctor congue
								</p>   -->

								<!-- Social Icons -->
								<!-- <div class="footer-socials-links mt-20">
									<ul class="foo-socials text-center clearfix">

										<li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>	
										<li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>			
																																				 -->
										<!--
										<li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>	
										<li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>											
										<li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>	
										<li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
										<li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>									
										<li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>											
										<li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>
										<li><a href="#" class="ico-yelp"><i class="fab fa-yelp"></i></a></li>
										<li><a href="#" class="ico-yahoo"><i class="fab fa-yahoo"></i></a></li>
									    -->	
<!-- 
									</ul>									
								</div>	
							
							</div>		
						</div>
 -->

						<!-- FOOTER CONTACTS -->
						<!-- <div class="col-md-6 col-lg-3">
							<div class="footer-box mb-40"> -->
							
								<!-- Title -->
								<!-- <h5 class="h5-xs">Our Location</h5> -->

								<!-- Address -->
								<!-- <p>121 King Street, Melbourne,</p> 
								<p>Victoria 3000 Australia</p> -->
								
								<!-- Email -->
								<!-- <p class="foo-email mt-20">E: <a href="mailto:yourdomain@mail.com">hello@yourdomain.com</a></p> -->

								<!-- Phone -->
								<!-- <p>P: +12 9 8765 4321</p>

							</div>
						</div> -->


						<!-- FOOTER WORKING HOURS -->
						<!-- <div class="col-md-6 col-lg-3">
							<div class="footer-box mb-40"> -->
							
								<!-- Title -->
								<!-- <h5 class="h5-xs">Working Time</h5> -->

								<!-- Working Hours -->
								<!-- <p class="p-sm">Mon - Wed - <span>9:00 AM - 7:00 PM</span></p>
								<p class="p-sm">Thursday - <span>9:00 AM - 6:30 PM</span></p>
								<p class="p-sm">Friday - <span>9:00 AM - 6:00 PM</span></p>
								<p class="p-sm">Sat - Sun - <span>Closed</span></p>							

							</div>
						</div> -->


						<!-- FOOTER PHONE NUMBER -->
						<!-- <div class="col-md-6 col-lg-3">
							<div class="footer-box mb-40"> -->
												
								<!-- Title -->
								<!-- <h5 class="h5-xs">Emergency Cases</h5> -->

								<!-- Footer List -->
								<!-- <h5 class="h5-xl blue-color">1-800-123-4560</h5> -->

								<!-- Text -->	
								<!-- <p class="p-sm mt-15">Aliquam orci nullam undo tempor sapien gravida donec enim ipsum porta
								   justo velna aucto magna
								</p> 																												

							</div>
						</div>	


					</div>	  -->
					 <!-- END FOOTER CONTENT -->


					<!-- FOOTER COPYRIGHT -->
					<!-- <div class="bottom-footer">
						<div class="row">
							<div class="col-md-12">
								<p class="footer-copyright">&copy; 2019 <span>MedService</span>. All Rights Reserved</p>
							</div>
						</div>
					</div> -->


				<!-- </div> -->
					   <!-- End container -->										
			<!-- </footer> -->
				<!-- END FOOTER-1 -->

<!-- ============================================
	Other Footer-->
	
	<!-- FOOTER-1
			============================================= -->
			<footer id="footer-1" class="bg-image wide-40 footer division">
					<div class="container">
	
	
						<!-- FOOTER CONTENT -->
						<div class="row">	
	
	
							<!-- FOOTER INFO -->
							<div class="col-md-6 col-lg-3">
								<div class="footer-info mb-40">
	
									<!-- Footer Logo -->
									<!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 380 x 80  pixels) -->
									<img src="/static/user/images/footer-logo-white.png" width="180" height="40" alt="footer-logo">
	
									<!-- Text -->	
									<p class="p-sm mt-20">We're driven by a mission to improve healthcare with the #1 cloud-based EHR.
									</p>  
	
									<!-- Social Icons -->
									<div class="footer-socials-links mt-20">
										<ul class="foo-socials text-center clearfix">
	
											<li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>	
											<li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
											<li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>			
																																					
											<!--
											<li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>	
											<li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>											
											<li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>	
											<li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>									
											<li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>											
											<li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>
											<li><a href="#" class="ico-yelp"><i class="fab fa-yelp"></i></a></li>
											<li><a href="#" class="ico-yahoo"><i class="fab fa-yahoo"></i></a></li>
											-->	
	
										</ul>									
									</div>	
								
								</div>		
							</div>
	

						<!-- FOOTER CONTACTS -->
						<div class="col-md-6 col-lg-3">
								<div class="footer-box mb-40">
								
									<!-- Title -->
									<h5 class="h5-xs">Our Location</h5>
	
									<!-- Address -->
									<p>Mahatma Gandhi Street, Mumbai,</p> 
									   <p>Maharashtra, INDIA</p>
									
									<!-- Email -->
									<p class="foo-email mt-20">E: <a href="mailto:yourdomain@mail.com">gmedifile@gmailcom</a></p>
	
									<!-- Phone -->
									<p>Phone: +9745873949</p>
	
								</div>
							</div>
	
							<!-- FOOTER WORKING HOURS -->
							<div class="col-md-6 col-lg-3">
								<div class="footer-box mb-40">
								
									<!-- Title -->
									<h5 class="h5-xs">Working Time</h5>
	
									<!-- Working Hours -->
									<p class="p-sm">Mon - Wed - <span>9:00 AM - 7:00 PM</span></p>
									<p class="p-sm">Thursday - <span>9:00 AM - 6:30 PM</span></p>
									<p class="p-sm">Friday - <span>9:00 AM - 6:00 PM</span></p>
									<p class="p-sm">Sat - Sun  <span>9:00 AM - 5:00 PM</span></p>							
	
								</div>
							</div>
	
	
							<!-- FOOTER PHONE NUMBER -->
							<div class="col-md-6 col-lg-3">
								<div class="footer-box mb-40">
													
									<!-- Title -->
									<h5 class="h5-xs">Emergency Cases</h5>
	
									<!-- Footer List -->
									<h5 class="h5-xl blue-color">1-800-123-4560</h5>
	
									<!-- Text -->	
									<p class="p-sm mt-15">Feel free to contact us.
									</p> 																												
	
								</div>
							</div>	
	
	
						</div>	  <!-- END FOOTER CONTENT -->
	
	
	
						<!-- FOOTER COPYRIGHT -->
						<div class="bottom-footer">
							<div class="row">
								<div class="col-md-12">
									<p class="footer-copyright">&copy; 2019 <span>Global Medifile</span>. All Rights Reserved</p>
								</div>
							</div>
						</div>
	
	
					</div>	   <!-- End container -->										
				</footer>	<!-- END FOOTER-1 -->
	



		</div>	<!-- END PAGE CONTENT -->



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="../static/user/js/jquery-3.3.1.min.js"></script>
		<script src="/static/user/js/bootstrap.min.js"></script>	
		<script src="/static/user/js/modernizr.custom.js"></script>
		<script src="/static/user/js/jquery.easing.js"></script>
		<script src="/static/user/js/jquery.appear.js"></script>
		<script src="/static/user/js/jquery.stellar.min.js"></script>	
		<script src="/static/user/js/menu.js"></script>
		<script src="/static/user/js/sticky.js"></script>
		<script src="/static/user/js/jquery.scrollto.js"></script>
		<script src="/static/user/js/materialize.js"></script>	
		<script src="/static/user/js/owl.carousel.min.js"></script>
		<script src="/static/user/js/jquery.magnific-popup.min.js"></script>	
		<script src="/static/user/js/imagesloaded.pkgd.min.js"></script>
		<script src="/static/user/js/isotope.pkgd.min.js"></script>
		<script src="/static/user/js/hero-form.js"></script>
		<script src="/static/user/js/contact-form.js"></script>
		<script src="/static/user/js/comment-form.js"></script>
		<script src="/static/user/js/appointment-form.js"></script>
		<script src="/static/user/js/jquery.datetimepicker.full.js"></script>		
		<script src="/static/user/js/jquery.validate.min.js"></script>	
		<script src="/static/user/js/jquery.ajaxchimp.min.js"></script>
		<script src="/static/user/js/wow.js"></script>	
	
		<!-- Custom Script -->		
		<script src="/static/user/js/custom.js"></script>

		<script> 
			new WOW().init();
		</script>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!-- [if lt IE 9]>
			<script src="js/html5shiv.js" type="text/javascript"></script>
			<script src="js/respond.min.js" type="text/javascript"></script>
		<![endif] -->

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->	
		<!--
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-XXXXX-Y', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		-->
		<!-- End Google Analytics -->

		<script src="/static/user/js/changer.js"></script>
		<script defer src="/static/user/js/styleswitch.js"></script>	
		

	</body>



</html>	