{% extends 'hos_temp.html' %}
{% block suggest %}

		<!-- FAVICON AND TOUCH ICONS  -->
		<link rel="shortcut icon" href="/static/user/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/user/images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/user/images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/user/images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/user/images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="/static/user/images/apple-touch-icon.png">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> 	
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet"> 

		<!-- BOOTSTRAP CSS -->
		<link href="/static/user/css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="../../../../use.fontawesome.com/releases/v5.7.2//static/user/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">		
		<link href="/static/user/css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="/static/user/css/menu.css" rel="stylesheet">	
		<link id="effect" href="/static/user/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="/static/user/css/magnific-popup.css" rel="stylesheet">	
		<link href="/static/user/css/owl.carousel.min.css" rel="stylesheet">
		<link href="/static/user/css/owl.theme.default.min.css" rel="stylesheet">
		<link href="/static/user/css/animate.css" rel="stylesheet">
		<link href="/static/user/css/jquery.datetimepicker.min.css" rel="stylesheet">
				
		<!-- TEMPLATE CSS -->
		<link href="/static/user/css/style.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="/static/user/css/responsive.css" rel="stylesheet"> 

			<!-- BREADCRUMB
			============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row col-lg-8">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="/hos_homeview">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Suggestions</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Suggestions</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- TABS-2
			============================================= -->
			<section id="tabs-2" class="wide-100 tabs-section division">
				<div class="container">	
				 	<div class="row">


				 		<!-- TABS NAVIGATION -->
				 		<div class="col-lg-4">
							<div id="tabs-nav" class="list-group text-center clearfix">
							    <ul class="nav nav-pills" id="pills-tab" role="tablist">

							    	<!-- TAB-1 LINK -->
								  	<li class="nav-item icon-xs">
								    	<a class="nav-link active" id="tab11-list" data-toggle="pill" href="#tab-11" role="tab" aria-controls="tab-11" aria-selected="true">
								    		New Suggestions
								    	</a>
								  	</li>

								  	<!-- TAB-2 LINK -->
									<li class="nav-item icon-xs">
									    <a class="nav-link" id="tab12-list" data-toggle="pill" href="#tab-12" role="tab" aria-controls="tab-12" aria-selected="false">
									       All
									    </a>
									</li>

									<!-- TAB-3 LINK -->
									<!-- <li class="nav-item icon-xs">
									    <a class="nav-link" id="tab13-list" data-toggle="pill" href="#tab-13" role="tab" aria-controls="tab-13" aria-selected="false">
									       MRI Diagnostic
									    </a>
									</li> -->

									<!-- TAB-4 LINK -->
									<!-- <li class="nav-item icon-xs">
									    <a class="nav-link" id="tab14-list" data-toggle="pill" href="#tab-14" role="tab" aria-controls="tab-14" aria-selected="false">
									       X-Ray Diagnostic
									    </a>
									</li> -->

								</ul>

							</div>	
						</div>	<!-- END TABS NAVIGATION -->


						<!-- TABS CONTENT -->
				 		<div class="col-lg-8">
							<div class="tab-content" id="pills-tabContent">

                                <div class="sidebar-timetable sidebar-div mb-50 tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab11-list">
									
									<!-- Title -->
									<div class="col-md-4">
                                    	<h5 class="h2-md mb-20 steelblue-color" >Dr.Raj Mohan<label style="font-size: 16px;color: black;">Cardiology Dept</label></h5>
									</div>
									<div class="col-md-4" style="float:right;">
										<h6>8-9-2019, 11:50 PM</h6>
									</div>
                                    <!-- Text -->
                                    <p class="p-sm">Dear sir,
                                    </p>
                                    <p class="p-sm">I am writing this to inform your esteemed attention to the following matter regarding the new updation.
                                        I am Having a Problem to access my account. There by it is difficult to write the prescription. 
                                    </p>
    
                                    <!-- Button -->
                                    <a href="about.html" class="btn btn-blue blue-hover mt-10">View Details</a>
    
                                </div>	<!-- END SIDEBAR TABLE -->

                                <div class="sidebar-timetable sidebar-div mb-50 tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab11-list">

                                        <!-- Title -->
                                        <div class="col-md-4" style="float: left;">
                                        	<h5 class="h2-md mb-20 steelblue-color">Dr.Martin Christy<label style="font-size: 16px;color: black;">Urology Dept</label></h5>
										</div>
										
                                        <div class="col-md-4" style="float: right;">
                                            <h6>9-3-2019, 10:00 AM</h6>
										</div>
										
                                        <!-- Text -->
                                        <p  class="p-sm">Dear sir,
                                        </p>
                                        <p class="p-sm">I am writing this to inform your esteemed attention to the following matter regarding the new updation.
                                            I am Having a Problem to access my account. There by it is difficult to write the prescription. 
										</p>
										
                                        <!-- Button -->
                                        <a href="about.html" class="btn btn-blue blue-hover mt-10">View Details</a>
                                    
                                </div>	<!-- END SIDEBAR TABLE -->
    
								
								<!-- TAB-2 CONTENT -->
								<div class="sidebar-timetable sidebar-div mb-50 tab-pane fade" id="tab-12" role="tabpanel" aria-labelledby="tab12-list">

									<div class="col-md-4">
                                    	<h5 class="h2-md mb-20 steelblue-color" >Dr.Raj Mohan<label style="font-size: 16px;color: black;">Cardiology Dept</label></h5>
									</div>

									<div class="col-md-4" style="float:right;">
										<h6>8-9-2019, 11:50 PM</h6>
									</div>
                                    <!-- Text -->
                                    <p class="p-sm">Dear sir,
                                    </p>
                                    <p class="p-sm">I am writing this to inform your esteemed attention to the following matter regarding the new updation.
                                        I am Having a Problem to access my account. There by it is difficult to write the prescription. 
                                    </p>
    
                                    <!-- Button -->
                                    <a href="about.html" class="btn btn-blue blue-hover mt-10">View Details</a>
								</div>	<!-- END TAB-2 CONTENT -->
												
							</div>	<!-- END TABS CONTENT -->
			 			</div>	
				 	</div>     <!-- End row -->	
				</div>     <!-- End container -->	
			</section>	<!-- END TABS-2 -->



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="/static/user/js/jquery-3.3.1.min.js"></script>
		<script src="/static/user/js/bootstrap.min.js"></script>	
		<script src="/static/user/js/modernizr.custom.js"></script>
		<script src="/static/user/js/jquery.easing.js"></script>
		<script src="/static/user/js/jquery.appear.js"></script>
		<script src="/static/user/js/jquery.stellar.min.js"></script>	
		<script src="/static/user/js/menu.js"></script>
		<script src="/static/user/js/sticky.js"></script>
		<script src="/static/user/js/jquery.scrollto.js"></script>
		<script src="/static/user/js/materialize.js"></script>	
		<script src="/static/user/js/owl.carousel.min.js"></script>
		<script src="/static/user/js/jquery.magnific-popup.min.js"></script>	
		<script src="/static/user/js/imagesloaded.pkgd.min.js"></script>
		<script src="/static/user/js/isotope.pkgd.min.js"></script>
		<script src="/static/user/js/hero-form.js"></script>
		<script src="/static/user/js/contact-form.js"></script>
		<script src="/static/user/js/comment-form.js"></script>
		<script src="/static/user/js/appointment-form.js"></script>
		<script src="/static/user/js/jquery.datetimepicker.full.js"></script>		
		<script src="/static/user/js/jquery.validate.min.js"></script>	
		<script src="/static/user/js/jquery.ajaxchimp.min.js"></script>
		<script src="/static/user/js/wow.js"></script>	
	
		<!-- Custom Script -->		
		<script src="/static/user/js/custom.js"></script>

		<script> 
			new WOW().init();
		</script>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!-- [if lt IE 9]>
			<script src="/static/user/js/html5shiv.js" type="text/javascript"></script>
			<script src="/static/user/js/respond.min.js" type="text/javascript"></script>
		<![endif] -->

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->	
		<!--
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-XXXXX-Y', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		-->
		<!-- End Google Analytics -->

		<script src="/static/user/js/changer.js"></script>
		<script defer src="/static/user/js/styleswitch.js"></script>	
		

	</body>




<!-- Mirrored from jthemes.org/html/Medservices/files/all-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Aug 2019 10:13:32 GMT -->
</html>	

{% endblock %}